{{ define "main" }}
{{ if not .Params.menu }}

<div class="py-4 flex post-header">
  <div class="inline-block">
    <h2 class="text-2xl font-bold m-0 post-title">
      {{ .Title }}
    </h2>
  </div>

  {{ if .Date }}
  <div class="inline-block ml-auto post-date">
    <span class="italic">
      <time datetime='{{ .Date.Format "2006-01-02" }}'>
        {{ .Date.Format "02.01.2006" }}
      </time>
    </span>
  </div>
  {{ end }}
</div>
{{ end }}

<content class="prose prose-invert">
  {{ .Content }}
</content>

<p>
  {{ range (.GetTerms "tags") }}
    <a class="blog-tags" href="{{ .RelPermalink }}">#{{ lower .LinkTitle }}</a>
  {{ end }}
</p>

{{ end }}