{{ define "main" }}
{{ if not .Params.menu }}

<div class="py-4">
  <h2 class="text-2xl font-bold m-0" style="display:inline;">
    {{ .Title }}
  </h2>

  {{ if .Date }}
  <span class="italic float-right">
    <time datetime='{{ .Date.Format "2006-01-02" }}'>
      {{ .Date.Format "02.01.2006" }}
    </time>
  </span>
  {{ end }}

  <div style="clear:both;"></div>
</div>

{{ end }}

<content class="prose prose-invert">
  {{ .Content }}
</content>

<p>
  {{ range (.GetTerms "tags") }}
    <a class="blog-tags" href="{{ .RelPermalink }}">#{{ lower .LinkTitle }}</a>
  {{ end }}
</p>

{{ end }}