{{ define "main" }}
  <main>
    <div>{{ .Content }}</div>

    <script type="text/javascript">
      var pages = [
        {{ range where .Site.AllPages "RelPermalink" "not in" (slice "/" "/random/" "/tags/" "/categories/" "/posts/" "/about/") }}
          "{{ .RelPermalink }}",
        {{ end }}
      ];
      console.log(pages);
      setTimeout(function() {
        var randomIndex = Math.floor(Math.random() * pages.length);
        var target = pages[randomIndex];
        if (target) {
          window.location.href = target;
        }
      }, 1750);
    </script>
  </main>
{{ end }}
